// ------ FlexBox for faster writing -----
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// ------ Import Sass ------
@import "../styles/global";
@import "./smile";
@import "./navbar";
