// --------- Header and Navbar --------
@media screen and (max-width: 480px) {
  .head {
    #headBanner {
      display: none;
    }
  }
  nav {
    padding: 0.5rem 0 0.5rem 0;
    @include flex(center, center, row);
    ul {
      font-size: 1.5rem;
      a {
        padding: 0 0.5rem 0 0.5rem;
      }
    }
  }
  .time {
    display: none;
  }
}
// ---------- Main Section ---------
@media screen and (max-width: 480px) {
  .news {
    width: 100%;
    .banner {
      margin: 1rem 0 1rem 0;
    }

    .topNewsImg,
    .popularImg {
      @include flex(space-around, center, row);
      .picture {
        height: auto;
        width: 40%;
      }
      #wideDisplayNone {
        display: block;
        height: auto;
        width: 40%;

        overflow: hidden;
        @include flex(center, center, column);

        flex-flow: wrap;
        a {
          @include flex(center, center, column);
        }
        img {
          z-index: 1;
          width: 100%;
        }
      }
    }
  }
}
// ---------- Advertisement Section ---------
@media screen and (max-width: 480px) {
  .advertisement {
    width: 100%;
    margin-top: 2rem;
  }
  #smallDisplayNone {
    display: none;
  }
  .advertisementImg {
    // height: 50%;
    margin: 0;
    @include flex(space-around, center, column);
  }
}
// ---------- Footer Section ---------
@media screen and (max-width: 480px) {
  footer {
    height: 35vh;
    .list {
      margin: 3rem auto 0 auto;
      @include flex(center, center, row);
    }
    ul {
      font-size: 1.4rem;
      a {
        padding: 0.8rem 0.8rem 0 0.8rem;
      }
    }
    .logo {
      @include flex(center, center, row);
    }
  }
}
