@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "./main";
@import "./nav";
@import "./footer";
@import "./global";
@import "./mobile";
